In [0]:
from pyspark.sql.functions import regexp_replace, length,expr,lit,coalesce,count,avg,max,col,sum

In [0]:
wp_path = '/mnt/deBDProject/BI_Users/WorldPopulation.json'
world_population = spark.read.json(wp_path)
world_population = world_population.withColumn('CountryUnderScore', regexp_replace('Country', ' ', '_'))
# world_population.show(5)

In [0]:

users_path = '/mnt/deBDProject/ml_training_project/Users.csv'
users = spark.read.csv(users_path,header=True)

locations_cleaned = users.select("id", "displayname","location","reputation","views","upvotes","downvotes")
locations_cleaned= locations_cleaned.withColumn("LocationCommaCount" ,length(locations_cleaned["location"]) - length(regexp_replace(locations_cleaned["location"], ",", "")))

# locations_cleaned.show(10)

In [0]:
#Retrieve Countries from column and put in one list
locationsOneWord = locations_cleaned[locations_cleaned["locationCommaCount"]==0]
locationsTwoWords = locations_cleaned[locations_cleaned["locationCommaCount"]==1.0]
locationsTwoWords = locationsTwoWords.withColumn("location",expr("split(location,',')[1]"))
locationsThreeWords = locations_cleaned[locations_cleaned["locationCommaCount"]==2.0]
locationsThreeWords = locationsThreeWords.withColumn("location",expr("split(location,',')[2]"))
locationsFourWords = locations_cleaned[locations_cleaned["locationCommaCount"]==3.0]
locationsFourWords = locationsFourWords.withColumn("location",expr("split(location,',')[3]"))
locationsNA = locations_cleaned[locations_cleaned["locationCommaCount"].isNull() ]
locationsNA = locationsNA.withColumn("location", lit("N/A"))
locations_Countries = locationsOneWord.union(locationsTwoWords)\
                        .union(locationsThreeWords)\
                        .union(locationsFourWords)\
                        .union(locationsNA)

locations_Countries = locations_Countries.withColumnRenamed("location","Country_Name")

In [0]:
#Clean Up Records in the Location Column using external file that contains rules

countries_to_replace_path = '/mnt/deBDProject/BI_Users/countries_to_rename.csv'
countries_to_replace = spark.read.csv(countries_to_replace_path,header=True)

for index, row in countries_to_replace.toPandas().iterrows():
    locations_Countries =locations_Countries.withColumn("Country_Name", regexp_replace('Country_Name',row[0], row[1]))

In [0]:
locations_Countries = locations_Countries.withColumn("CountryUnderScore", regexp_replace("Country_Name"," ","_"))

In [0]:
final_df = locations_Countries.join(world_population, locations_Countries["CountryUnderScore"] == world_population["CountryUnderScore"], "left").fillna({'Population': 0, 'Country': 'N/A'})

final_df = final_df.select(final_df["Country"].alias("Country_Name"),final_df["Id"],final_df["reputation"], "Population")

final_df.show(10)

+--------------+----------+----------+
|  Country_Name|reputation|Population|
+--------------+----------+----------+
|           N/A|        21|         0|
|           N/A|        16|         0|
|United Kingdom|       774|  67736802|
|           N/A|         1|         0|
|           N/A|         1|         0|
| United States|       360| 339996564|
|           N/A|         1|         0|
|           N/A|        21|         0|
|           N/A|       384|         0|
|           N/A|        13|         0|
+--------------+----------+----------+
only showing top 10 rows

In [0]:

grouped_df = final_df.groupBy("Country_Name").agg(count(final_df.Country_Name).alias("User_Count"),\
                                sum(final_df.reputation).alias("User_Reputation"),\
                                max(final_df.Population).alias("Population")
                                )

In [0]:
# grouped_df.show(200)

+--------------------+----------+---------------+----------+
|        Country_Name|User_Count|User_Reputation|Population|
+--------------------+----------+---------------+----------+
|         Afghanistan|        27|         5246.0|  42239854|
|             Albania|        64|        50165.0|   2832439|
|             Algeria|       133|        42612.0|  45606481|
|             Andorra|        11|        55736.0|     80088|
|              Angola|         8|         1703.0|  36684203|
| Antigua and Barbuda|         1|           36.0|     94298|
|           Argentina|      1087|       751519.0|  45773884|
|             Armenia|       128|       159211.0|   2777971|
|           Australia|      3136|      4376135.0|  26439112|
|             Austria|      1126|      1270759.0|   8958961|
|          Azerbaijan|        78|        17820.0|  10412652|
|             Bahamas|         5|          127.0|    412624|
|             Bahrain|        91|        38768.0|   1485510|
|          Bangladesh|       672|       448929.0| 172954319|
|            Barbados|        18|         1770.0|    281996|
|             Belarus|       537|       373937.0|   9498238|
|             Belgium|      2743|      2681059.0|  11686140|
|              Belize|         5|          206.0|    410825|
|               Benin|         3|           23.0|  13712828|
|              Bhutan|         4|         1661.0|    787425|
|             Bolivia|       108|        56741.0|  12388571|
|Bosnia and Herzeg...|        62|        24759.0|   3210848|
|            Botswana|        13|          490.0|   2675353|
|              Brazil|      4247|      2293766.0| 216422446|
|              Brunei|        13|         5647.0|    452524|
|            Bulgaria|       661|       636454.0|   6687717|
|        Burkina Faso|         4|          544.0|  23251485|
|             Burundi|         1|            1.0|  13238559|
|            Cambodia|       102|        37917.0|  16944826|
|            Cameroon|        18|         4021.0|  28647293|
|              Canada|      4252|      5252333.0|  38781292|
|          Cape Verde|         4|          133.0|    598682|
|               Chile|       439|       191028.0|  19629590|
|               China|      4646|       793306.0|1425671352|
|            Colombia|       463|       174923.0|  52085168|
|          Costa Rica|       368|       216152.0|   5212173|
|             Croatia|       446|       413024.0|   4008617|
|                Cuba|        48|        20472.0|  11194449|
|              Cyprus|       142|       101616.0|   1260138|
|             Czechia|        32|         9299.0|  10495295|
|            DR Congo|         1|          145.0| 102262809|
|             Denmark|      2462|      2796589.0|   5910913|
|            Dominica|         2|          135.0|     73040|
|  Dominican Republic|       202|        88132.0|  11332973|
|          East Timor|         2|            2.0|   1360596|
|             Ecuador|       111|        18766.0|  18190484|
|               Egypt|      1117|       409097.0| 112716599|
|         El Salvador|       103|        61436.0|   6364943|
|             Eritrea|         1|          896.0|   3748902|
|             Estonia|       326|       275776.0|   1322766|
|            Ethiopia|        50|         8602.0| 126527060|
|                Fiji|        13|         6356.0|    936376|
|             Finland|      1121|      1663701.0|   5545475|
|              France|      4350|      5902202.0|  64756584|
|               Gabon|         2|            2.0|   2436567|
|             Georgia|       309|       162637.0|   3728282|
|             Germany|      9029|    1.3553255E7|  83294633|
|               Ghana|        91|        18694.0|  34121985|
|              Greece|       888|       658440.0|  10341277|
|             Grenada|         1|          538.0|    126184|
|           Guatemala|       192|       626552.0|  18092026|
|              Guinea|         2|            2.0|  14190612|
|       Guinea-Bissau|         1|          605.0|   2150842|
|              Guyana|         7|          512.0|    813834|
|               Haiti|         6|         1633.0|  11724764|
|            Honduras|        46|         7106.0|  10593798|
|             Hungary|       778|       681371.0|   9604000|
|             Iceland|       199|       147607.0|    375319|
|               India|     17816|      9070812.0|1428627663|
|           Indonesia|      1446|       279450.0| 277534123|
|                Iran|      1405|       567645.0|  89172767|
|                Iraq|        66|        15629.0|  45504560|
|             Ireland|      1280|      1331847.0|   5056935|
|              Israel|      2843|      5717078.0|   9174520|
|               Italy|      2876|      2640570.0|  58870763|
|         Ivory Coast|         4|          795.0|  28873034|
|             Jamaica|        76|        41377.0|   2825544|
|               Japan|       950|       832360.0| 123294513|
|              Jordan|       230|        79501.0|  11337053|
|          Kazakhstan|       103|        15162.0|  19606634|
|               Kenya|       168|        44070.0|  55100587|
|            Kiribati|         1|           38.0|    133515|
|              Kosovo|        33|         8635.0|   1663595|
|              Kuwait|       156|       145466.0|   4310108|
|          Kyrgyzstan|        37|        27558.0|   6735348|
|                Laos|         5|           59.0|   7633779|
|              Latvia|       291|       183569.0|   1830212|
|             Lebanon|       244|       191866.0|   5353930|
|             Lesotho|         8|          395.0|   2330318|
|               Libya|        17|         1333.0|   6888388|
|       Liechtenstein|        10|         2813.0|     39585|
|           Lithuania|       432|       299925.0|   2718352|
|          Luxembourg|       156|       176249.0|    654768|
|          Madagascar|        30|         3548.0|  30325732|
|              Malawi|         3|            3.0|  20931751|
|            Malaysia|      1004|       352376.0|  34308525|
|            Maldives|        42|        14873.0|    523787|
|                Mali|         1|           38.0|  23293699|
|               Malta|       271|       232330.0|    535065|
|    Marshall Islands|         2|          144.0|     41996|
|          Mauritania|         4|         1020.0|   4862989|
|           Mauritius|       117|        97927.0|   1300557|
|              Mexico|      1314|       579449.0| 128455567|
|          Micronesia|         1|           36.0|    115224|
|             Moldova|       117|        91901.0|   3435931|
|              Monaco|        12|         4854.0|     36298|
|            Mongolia|        57|         8632.0|   3447157|
|          Montenegro|        21|         6243.0|    626485|
|             Morocco|       326|       111901.0|  37840044|
|          Mozambique|        10|          535.0|  33897354|
|             Myanmar|        85|        24120.0|  54577997|
|                 N/A|   2315027|   7.25182071E8|         0|
|             Namibia|        12|          817.0|   2604172|
|               Nepal|       335|       292154.0|  30896590|
|         Netherlands|      5135|      7552122.0|  17618299|
|         New Zealand|      1357|      2162792.0|   5228100|
|           Nicaragua|        40|        19973.0|   7046311|
|               Niger|         1|            1.0|  27202843|
|             Nigeria|       358|       100296.0| 223804632|
|                Niue|         1|            1.0|      1935|
|         North Korea|         4|          491.0|  26160822|
|              Norway|      1401|      2087181.0|   5474360|
|                Oman|        40|         7845.0|   4644384|
|            Pakistan|      1573|       721037.0| 240485658|
|           Palestine|       102|        27293.0|   5371230|
|              Panama|        82|         9014.0|   4468087|
|    Papua New Guinea|        13|         7987.0|  10329931|
|            Paraguay|        61|        30812.0|   6861524|
|                Peru|       163|       195050.0|  34352719|
|         Philippines|      1681|       703989.0| 117337368|
|              Poland|      3024|      2674250.0|  41026068|
|            Portugal|      1479|       925561.0|  10247605|
|               Qatar|        49|       103822.0|   2716391|
|             Romania|      1048|       845733.0|  19892812|
|              Russia|      3767|      2061490.0| 144444359|
|              Rwanda|        10|         3831.0|  14094683|
|         Saint Lucia|         1|            1.0|    180251|
|Saint Vincent and...|         1|          418.0|    103699|
|               Samoa|         2|          342.0|    225681|
|          San Marino|         9|       182376.0|     33642|
|        Saudi Arabia|       244|        66587.0|  36947025|
|             Senegal|         8|         5846.0|  17763163|
|              Serbia|       364|       176713.0|   7149077|
|          Seychelles|         4|          158.0|    107660|
|        Sierra Leone|         2|            2.0|   8791092|
|           Singapore|      2443|      2938424.0|   6014723|
|            Slovakia|       534|       450572.0|   5795199|
|            Slovenia|       459|       525251.0|   2119675|
|             Somalia|         4|           42.0|  18143379|
|        South Africa|      1557|      1463930.0|  60414495|
|         South Korea|       520|       154325.0|  51784059|
|         South Sudan|         1|            1.0|  11088796|
|               Spain|      2370|      1659864.0|  47519628|
|           Sri Lanka|       960|       422562.0|  21893579|
|               Sudan|        23|        12804.0|  48109006|
|            Suriname|         5|          774.0|    623237|
|              Sweden|      3493|      3912679.0|  10612086|
|         Switzerland|      1964|      3499704.0|   8796669|
|               Syria|        97|        55696.0|  23227014|
|              Taiwan|       834|       386421.0|  23923277|
|          Tajikistan|         9|        16018.0|  10143543|
|            Tanzania|        34|         7451.0|  67438106|
|            Thailand|       510|       234763.0|  71801279|
|                Togo|         1|            1.0|   9053799|
|               Tonga|         1|            1.0|    107773|
| Trinidad and Tobago|        51|       211418.0|   1534937|
|             Tunisia|       375|       137117.0|  12458223|
|              Turkey|      1511|       579664.0|  85816199|
|        Turkmenistan|         9|         1435.0|   6516100|
|              Tuvalu|         1|          292.0|     11396|
|              Uganda|        66|        17188.0|  48582334|
|             Ukraine|      2689|      1622551.0|  36744634|
|United Arab Emirates|       233|        91821.0|   9516871|
|      United Kingdom|      9134|     1.819864E7|  67736802|
|       United States|     15097|    2.8712708E7| 339996564|
|             Uruguay|       208|       133039.0|   3423109|
|          Uzbekistan|        49|        46486.0|  35163944|
|             Vanuatu|         3|          849.0|    334506|
|           Venezuela|       280|        61517.0|  28838499|
|             Vietnam|      1132|       311936.0|  98858950|
|               Yemen|        39|         5795.0|  34449825|
|              Zambia|        16|          928.0|  20569738|
|            Zimbabwe|        33|        11942.0|  16665409|
+--------------------+----------+---------------+----------+

In [0]:

grouped_df.write.mode("overwrite")\
    .option("header",True)\
    .csv('/mnt/deBDProject/BI_Users/UserGeolocation')

In [0]:
from pyspark.sql import Window
import pyspark.sql.functions as F

detailed_df = locations_Countries.select("Country_Name","CountryUnderScore","id","displayname","reputation","views","upvotes","downvotes").join(world_population, locations_Countries["CountryUnderScore"] == world_population["CountryUnderScore"], "left").fillna({'Population': 0, 'Country': 'N/A'})

detailed_non_null_df = detailed_df[detailed_df["Country"] != 'N/A']

# detailed_non_null_df.show(15)

+--------------+-----------------+------+--------------------+----------+-----+-------+---------+--------------+----------+-----------------+
|  Country_Name|CountryUnderScore|    id|         displayname|reputation|views|upvotes|downvotes|       Country|Population|CountryUnderScore|
+--------------+-----------------+------+--------------------+----------+-----+-------+---------+--------------+----------+-----------------+
|         India|            India|518997|             Nishant|       407|   85|     26|        0|         India|1428627663|            India|
|        Israel|           Israel|519002|                 Ron|      1070|  569|    181|        3|        Israel|   9174520|           Israel|
|     Argentina|        Argentina|519036|              Emilio|         6|    7|      0|        0|     Argentina|  45773884|        Argentina|
| United States|    United_States|519037|            Valdis R|      1504|   79|    129|        4| United States| 339996564|    United_States|
|       Germany|          Germany|519060|            artViper|        36|   13|      0|        0|       Germany|  83294633|          Germany|
|       Ireland|          Ireland|519064|        Colm Shannon|        98|   69|     17|        0|       Ireland|   5056935|          Ireland|
|         Italy|            Italy|519079|           BeerBaron|       185|   69|     19|       20|         Italy|  58870763|            Italy|
|         India|            India|519103|                Sree|        16|    8|      0|        0|         India|1428627663|            India|
|United Kingdom|   United_Kingdom|519158|Luis Roquette Valdez|         1|   20|      0|        0|United Kingdom|  67736802|   United_Kingdom|
|   Philippines|      Philippines|519164|              rommer|         1|    0|      0|        0|   Philippines| 117337368|      Philippines|
|   Netherlands|      Netherlands|519210|            englebip|       360|   31|     49|        0|   Netherlands|  17618299|      Netherlands|
|         Chile|            Chile|519216|               Lamak|     57648| 4740|   2003|      777|         Chile|  19629590|            Chile|
|United Kingdom|   United_Kingdom|519219|             rivalee|         1|    1|      0|        0|United Kingdom|  67736802|   United_Kingdom|
|       Belgium|          Belgium|519244|       Renaud Dumont|      1564|  391|     43|        1|       Belgium|  11686140|          Belgium|
|        Canada|           Canada|519260|           CJ Garber|        31|    6|      0|        0|        Canada|  38781292|           Canada|
+--------------+-----------------+------+--------------------+----------+-----+-------+---------+--------------+----------+-----------------+
only showing top 15 rows

In [0]:
detailed_partitioned_df = detailed_non_null_df.select("Country_Name","id","displayname","reputation","views","upvotes","downvotes")\
    .withColumn('rank', F.dense_rank().over(Window.partitionBy("Country_Name").orderBy(col('reputation').cast("int").desc())))\
    .filter(F.col('rank')<=5)\

# detailed_partitioned_df.show(20)

+------------+-------+---------------+----------+-----+-------+---------+----+
|Country_Name|     id|    displayname|reputation|views|upvotes|downvotes|rank|
+------------+-------+---------------+----------+-----+-------+---------+----+
| Afghanistan|2169355|  Mustafa Ehsan|      1969|  175|    173|        5|   1|
| Afghanistan|2198400|        Fshamri|       565|   52|     24|        1|   2|
| Afghanistan|3129780|Hanzallah Afgan|       546|  185|     87|       15|   3|
| Afghanistan|2110828|  Ajmal Amirzad|       474|   64|     11|        8|   4|
| Afghanistan|1746091|    ali shekari|       440|   97|    165|        4|   5|
|     Albania| 645186|           Shef|     36150| 2505|   1391|      309|   1|
|     Albania|2736039|       Ultimo_m|      2690|  385|   2265|       26|   2|
|     Albania|2212128| Freeman Lambda|      2167|  230|    408|       32|   3|
|     Albania|1973164|            TGO|      1819|  366|     65|        5|   4|
|     Albania| 930943|           Hari|      1345|  305|    592|        9|   5|
|     Algeria|1120221|      tarrsalah|      8681|  793|   1220|       33|   1|
|     Algeria|2874856|      Raindrop7|      3249|  529|   1231|      726|   2|
|     Algeria| 861487|    Abdelouahab|      3225|  405|   1297|        0|   3|
|     Algeria|1237663|        Mouloud|      2747|   98|     70|        1|   4|
|     Algeria|1770999|        Boubakr|      2453|  179|     84|        2|   5|
|     Andorra|2015579| Richard Hodges|     53377| 2886|    573|       69|   1|
|     Andorra| 205557|    Alex Kurkin|       839|   67|    150|        4|   2|
|     Andorra|1205178|           mark|       751|   86|     49|        0|   3|
|     Andorra|1262159|      appplemac|       307|   44|     82|        0|   4|
|     Andorra| 131561|      Alexander|       301|   13|      0|        0|   5|
+------------+-------+---------------+----------+-----+-------+---------+----+
only showing top 20 rows

In [0]:
detailed_partitioned_df.write.mode("overwrite")\
    .option("header",True)\
    .csv('/mnt/deBDProject/BI_Users/TopUsersPerCountry')